.alert {
    width:100%;
    padding: 20px;
    background-color: white;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid var(--cp-color);
}

.share-button {
    background-color: transparent;
    border: none;
    filter: invert(1);
    margin-inline-start: 0.2rem;
}

.menu-bg .share-button {
    filter: invert(0);
}