body {
    background-color: white;
}
#content {
    max-width:100%;
    min-height: 300px;
    margin-bottom: 200px;
}
#title {
    font-size:1.7rem;
    font-weight: 100;
}
#wrapper {
    /*max-width:1000px;*/
    margin:0 auto 300px auto;
    padding: .5em;
    background-color: white;
}

#wrapper h2 {
    font-weight: bold;
    margin: 0 0 1em 0;
}

/* size specific style section */
@media screen and (max-width: 991px) {
    /* start of large tablet styles */

}
@media screen and (max-width: 767px) {
    /* start of medium tablet styles */

}
@media screen and (max-width: 479px) {
    /* start of phone styles */
    body {
        background-color: white;
    }
}
#modal-calendar.small-view {
    display: flex;
    width: 250px;
    flex-wrap: wrap;
    margin: auto;
}

/**
Danger zone
 */
.danger-zone{
    margin: 0 8px 0 8px;
    display: flex;
    justify-content: space-between;
}

.chevron img{
    vertical-align: middle;
    width: 20px;
    cursor: pointer;
}

.danger-zone-content {
    display: flex;
    justify-content: space-between;
    margin: 24px 10% 0 5%;
}
.collapsed {
    display: none;
}

.toggle_up {
    -moz-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    -webkit-transform: scale(-1, -1);
    transform: scale(-1, -1);
}
#wrapper button, #wrapper .button {
    color: #fefefe;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid transparent;
    font-weight: normal;
    padding: .85em 1em;
    background-color: var(--cp-color);
}
