.cp-wrapper .month-title .month-percentage {
    color: black; font-size:1.2rem;
}
.cp-calendar-wrapper .calendar-month {
    display: inline-block;
    vertical-align: top;
}

.cp-calendar-wrapper .goto-month-container {
    display: flex;
    align-items: center;
    width:40px;
}
.cp-calendar-wrapper .cp-goto-month {
    width:40px;
}



