.wp-list-table img.emoji {
    height: 2em !important;
    width: 2em !important;
}

.wp-list-table .language-button {
    display: inline-flex;
    margin-right: 0.5rem;
    margin-bottom: 0.3rem;
    padding: 0 5px;
}

.language-button.no-language {
    filter: opacity( 0.3 );
    border-color: rgba(0, 0, 0, 0);
}

.wp-list-table .post-titles {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.components-panel__row.edit-post-post-schedule {
    pointer-events: none;
}

.dropdown-button {
    position: relative;
}

.dropdown {
    display: none;
    position: absolute;
    top: 25px;
    background-color: white;
    border: 1px solid #C3C4C7;
    z-index: 1000;
    padding: 0.5rem 0.75rem;
    border-radius: 5px;
}

.dropdown__link {
    display: block;
}

.dropdown-button:hover > .dropdown,
.dropdown:hover {
    display: block;
}

.badge-count {
    position: absolute;
    font-size: 12px;
    top: -10px;
    right: -6px;
    color: white;
    background-color: #0073aa;
    padding: 3px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 12px;
    width: 12px;
}

.plus-icon {
    font: normal 20px/1 dashicons;
    display: flex;
    align-items: center;
}

.plus-icon::before {
    content: '\f132';
}
